<div class="control-panel">
  <a href="/control_panel/shortcuts" class="btn pull-right">Close</a>
  <% if @shortcut.shortcut_type == "link" %>
    <div class="heading">Link to URL shortcut</div>
  <% else %>
    <div class="heading">Engines app shortcut</div>
  <% end %>
  <div class="center-align">

    <%= @shortcut.label %><br>
    <%= @shortcut.url %><br>
    <% if @shortcut.shortcut_type == "link" %>
      <a href="/control_panel/shortcuts/<%= @shortcut.id %>/link/edit" class="btn">Edit</a><br>
    <% else %>
      <a href="/control_panel/shortcuts/<%= @shortcut.id %>/engines_app/edit" class="btn">Edit</a><br>
    <% end %>
    <br><br>
    <image height="96" src="<%= @shortcut.icon_url + '?' + 'nocache=' + @shortcut.icon_updated_at? %>"><br>
    <a href="/control_panel/shortcuts/<%= @shortcut.id %>/icon" class="btn">Edit</a><br><br>
  </div>
  <br>
  <a href="/control_panel/shortcuts/<%= @shortcut.id %>/delete" class="btn">Delete shortcut</a>

</div>
