<div class="control-panel">
  <div class="heading">New distribution group</div>
  <div class="center-align">
    <form
      method="POST"
      action="/control_panel/distribution_groups"
      class="form">
      <div class="left-align">
        <p>
          <label class="label">Local part (before the @)</label><br>
          <input name="distribution_group[local_part]"></input>
        </p>
        <p>
          <label class="label">Domain</label>
          <select name="distribution_group[domain]" required>
            <% @system_email[:domains].each do |domain| %>
              <option value="<%= domain %>" <%= "selected" if domain === @system_email[:default_domain] %>><%= domain %></option>
            <% end %>
          </select>
        </p>
        <p>
          <label class="label">Description</label><br>
          <textarea name="distribution_group[description]"></textarea>
        </p>
      </div>
      <a href="/control_panel/distribution_groups" class="btn pull-left"><%= fa 'times', "Cancel" %></a>
      <button type="submit" class="btn pull-right"><%= fa 'check', "Create" %></button>
    </form>
  </div>
</div>
