<div class="control-panel">
  <div class="heading">Enable email for account: <%= "#{@account.uid} (#{@account.name.full_name})" %></div>
  <div class="center-align">
    <form
      method="POST"
      action="/control_panel/accounts/setup_email?uid=<%= @account.uid %>"
      class="form">
      <div class="left-align">
        <label class="label">Mailbox domain</label><br>
        <div>
          <select name="setup_email[mailbox_domain]" value="<%= @setup_email.mailbox_domain %>" required>
            <% @setup_email.domains.each do |domain| %>
              <option value="<%= domain %>" <%= "selected" if domain === @setup_email.mailbox_domain %>><%= domain %></option>
            <% end %>
          </select>
        </div>
      </div>
      <br>
      <a href="/control_panel/accounts/?uid=<%= @account.uid %>" class="btn pull-left"><%= fa 'times', "Cancel" %></a>
      <button type="submit" class="btn pull-right"><%= fa 'check', "Enable" %></button>
    </form>
  </div>
</div>
