<div class="control-panel">
  <a href="/" class="btn pull-right"><%= fa 'times' %></i></a>
  <div class="heading">Control panel</div>
  <a href='control_panel/shortcuts' class="btn"><%= fa 'external-link', "Shortcuts" %></a><br>
  <a href='control_panel/accounts' class="btn"><%= fa 'users', "Accounts" %></a><br>
  <a href='control_panel/email_addresses' class="btn"><%= fa 'envelope', "Email addresses" %></a><br>
  <a href='control_panel/distribution_groups' class="btn"><%= fa 'share-square-o', "Distribution groups" %></a>
</div>
