<div class="navbar">
  <% if current_user %>
    <% if current_user.is_admin? && !settings.no_admin? %>
      <div class="pull-left">
        <a href="/user/portal"
        class="nav-link <%= 'active' if request.path_info == '/user/portal' %>">
          <%= fa "home", "Home" %></a>
        <a href="/control_panel"
        class="nav-link <%= 'active' if request.path_info.split('/')[1] == 'control_panel' %>">
          <%= fa "gears", "Control panel" %></a>
      </div>
    <% end %>
    <div class="pull-right">
      <a href="/user/password/edit"
      class="nav-link <%= 'active' if request.path_info == '/user/password/edit' %>">
        <%= fa "user", current_user.user_name %></a>
      <a href="/sign_out" class="nav-link"><%= fa "sign-out", "Sign out" %></a>
    </div>
  <% end %>
</div>
